.galaxy {
	background: #000000;
	border: 2px solid #1e90ff;
	border-radius: 4px;
	color: #4169e1;
	font-family: Typewriter;
	font-weight: bold;
	transition-duration: 0.2s;
	cursor: pointer
}
.galaxy:hover {
	background: #1e90ff;
	color: #ffffff
}

.paradox {
	background: linear-gradient(45deg, #707, #000, #303);
	background-size: 75% 200%;
	background-position: 0 0;
	box-shadow: 1px 1px 0 #f0f7, -1px -1px 0 #f0f7;

	border: 2px solid #b0b;
	border-radius: 4px;
	color: #f7f;
	font-family: Typewriter;
	font-weight: bold;
	transition-duration: 0.2s;
	cursor: pointer
}
.paradox:hover {
	box-shadow: 3px 3px 0 #f0f7, -3px -3px 0 #f0f7, inset 0 0 12px 0 #f0f
}

.accelerate {
	background: linear-gradient(#000000, transparent, #000000), linear-gradient(90deg, #000000, #000000, #ffbf00, #000000);
	background-size: 200% 100%;
	border: 2px solid rgba(255, 191, 0, 0.25);
	border-radius: 4px;
	color: #ffefbf;
	text-shadow: 0px 0px 6px #ffdf7f, 0px 0px 6px #000000, 0px 0px 12px #ffbf00;
	font-family: Typewriter;
	font-weight: bold;
	animation: 5s accelerate ease-in-out infinite;
	transition-duration: 0.2s;
	cursor: pointer
}
.accelerate:hover {
	border-color: rgba(255, 191, 0, 0.5);
	box-shadow: inset 0px 0px 12px 0px #ffbf00;
	color: #ffbf00;
	text-shadow: 0px 0px 6px #ffbf00, 0px 0px 6px #000000, 0px 0px 12px #ffbf00;
}
@keyframes accelerate {
	0% {
		background-position: 0% 0%
	}
	100% {
		background-position: 600% 0%
	}
}

.interreality {
	background: linear-gradient(90deg, #007f00, #000000, #002f3f);
	box-shadow: inset 0px 0px 12px 0px black;

	border: 2px solid;
	border-color: #00bf00 #005fbf #005fbf #00bf00;
	border-radius: 4px;

	color: #ffffff;
	font-family: Typewriter;
	font-weight: bold;
	transition-duration: 0.2s;
	cursor: pointer
}

.interreality:hover {
	border-color: #00ff00 #007fff #007fff #00ff00;
	box-shadow: inset 0 0 12px 0 #007f00;
}