.infinity {
	color: #FFFFFF;
	background: #1F1F1F;
	font-weight: bold;
	border: 2px solid #B67F33;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.infinity:hover {
	color: #000000;
	background: #B67F33;
}

.eternity {
	color: #b341e0;
	background: black;
	border: 2px solid #b341e0;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.eternity:hover {
	color: #511568;
	background: white;
}

.quantum {
	color: #32c832;
	background: #0a640a;
	border: 2px solid #32c832;
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.quantum:hover {
	background: #32c832;
	color: #0a640a;
}

.fluc {
	background: linear-gradient(#ff007f, transparent, #ff007f), linear-gradient(90deg, #ff00ff, #ff0000, #ffff00);
	background-size: 100% 10%;
	background-position: 0% 0%;

	border: 2px solid #bf005f;
	color: #ffbfdf;
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	animation: fluc 4s linear infinite;
    cursor: pointer;
}
.fluc:hover {
	background: linear-gradient(#ff007f, transparent, #ff007f), linear-gradient(90deg, #ff00ff, #ff0000, #ffff00);
	background-size: 100% 10%;
	background-position: 0% 0%;

	border-color: #ff7fdf;
	box-shadow: inset 0px 0px 36px #ff7fdf, inset 0px 0px 36px #ff7fdf
}
@keyframes fluc {
	0% {
		background-position: 25% 0%;
	}
	100% {
		background-position: 25% 100%;
	}
}

.funda {
	background: linear-gradient(#00002f, #0f002f), linear-gradient(45deg, black, transparent 25%, transparent), linear-gradient(-45deg, black, transparent 25%, transparent);
	box-shadow: inset 0px 0px 24px 0px black;
	border: 2px solid;
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	animation: funda 4s linear infinite
}
.funda:hover {
	box-shadow: inset 0px 0px 12px 0px #420072;
	cursor: pointer
}
@keyframes funda { 
	0%{
		border-color: #3f007f;
		color: #bfbfdf;
		text-shadow: 0px 0px 5px white, 0px 0px 6px #1f00ff;
	}
	50% {
		border-color: #1f007f;
		color: #efbfdf;
		text-shadow: 0px 0px 6px white, 0px 0px 6px #3f00ff;
	}
	100%{
		border-color: #3f007f;
		color: #bfbfdf;
		text-shadow: 0px 0px 5px white, 0px 0px 6px #1f00ff;
	}
}

.hadron {
	background: linear-gradient(transparent, black 25%, black 75%, transparent), linear-gradient(90deg, #ff0, #0ff, #f0f, #ff0);
	background-size: 200% 100%;
	border: 2px solid rgba(0, 0, 0, 0.25);
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
	text-shadow: -1px 0px 0px #ff0000, 0px 0px 0px #00ff00, 1px 0px 0px #0000ff;
	animation: hadron 6s linear infinite
}
.hadron:hover {
	border: 2px solid rgba(255, 255, 255, 0.5);
	box-shadow: inset 0px 0px 24px 0px black;
}
@keyframes hadron { 
	0%{
		background-position: 0% 0;
		color: #fbf;
		text-shadow: -1px 0px 0px #f00, 0px 0px 0px #0f0, 1px 0px 0px #00f;
	}
	33.3% {
		background-position: 66% 0;
		color: #ffb;
		text-shadow: 1px 0px 0px #f00, -1px 0px 0px #0f0, 0px 0px 0px #00f;
	}
	66.7% {
		background-position: 133% 0;
		color: #bff;
		text-shadow: 0px 0px 0px #f00, 1px 0px 0px #0f0, -1px 0px 0px #00f;
	}
	100% {
		background-position: 200% 0;
		color: #fbf;
		text-shadow: -1px 0px 0px #f00, 0px 0px 0px #0f0, 1px 0px 0px #00f;
	}
}

.star {
	color: #730;
	text-shadow: 0 0 3px #730;
	background: radial-gradient(#ff7, #fb0);
	background-size: 300% 300%;
	background-position: 100% 100%;
	border: 2px solid #f707;
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.star:hover {
	box-shadow: inset 0px 0px 24px 0px #ff3f00;
	border-color: #ff3f00;
	color: #ff6f3f;
	text-shadow: 0 0 3px black, 0 0 6px #7f1f00;
}

.singularity {
    background: linear-gradient(45deg, #333, #000, #000);
    background-size: 50% 100%;
    background-position: 0 0;

    border: 2px solid #333;
	border-radius: 4px;
	box-shadow: inset 0 0 0 white;

    color: #777;
    text-shadow: 0 0 3px #777;

	font-family: Typewriter;
	font-weight: bold;
	transition-duration: 0.2s;
	cursor: pointer
}
.singularity:hover {
    color: black;
	box-shadow: inset 0 0 75px white;
    border-color: #bbb;
}