* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", Helvetica, Arial, sans-serif !important;
    letter-spacing: 0.5px;
}
* {
    font-weight: normal !important;
}

body {
    color: #fff9 !important;
}

body {
    background: #070710;
}

/*=============
  I N P U T S
=============*/

.slider {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #445;
    background: linear-gradient(#112, #223);
    height: 4px;
    border-radius: 4px;
    overflow-x: visible;
    overflow-y: visible;
}
.slider::-moz-range-thumb {
    border: 1px solid #bbf;
    background: linear-gradient(#99b, #77c);
    box-shadow: 0 1px 5px #000;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #bbf;
    background: linear-gradient(#99b, #77c);
    box-shadow: 0 1px 5px #000;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}
input[type=text], input[type=number], input:not([type]) {
    border: 1px solid #445;
    background: linear-gradient(#112, #223);
    border-radius: 4px;
    color: #fff;
}
﻿
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", Helvetica, Arial, sans-serif !important;
    letter-spacing: 0.5px;
}
* {
    font-weight: normal !important;
}
#news, #container, #statistics, #galaxyPoints, #infinityPoints1, #timetheorems, .popup {
    color: #fff9 !important;
}

body {
    background: #070710;
}

/*===============
  B U T T O N S
===============*/

button {
    transition-duration: .5s !important;
    border-radius: 4px !important;
	position: relative;
	overflow: hidden
}
button:hover {
    filter: brightness(2);
    transition-duration: .1s !important;
}
button:hover:active {
    filter: brightness(0.8) contrast(1.1);
    transition-duration: 0s !important;
}

.normal {
    background: linear-gradient(#448, #224) !important;
    color: #fffc !important;
    border: 1px solid #668 !important;
}
.normal {
    box-shadow: 0 0 8px #77f7;
}

/*=============
  L A Y E R S
=============*/

.accelerate {
    background: 
        linear-gradient(#0007, #000), 
        linear-gradient(90deg, #770 25%, #ff0 45%, #ff0 55%, #770 75%);
    background-size: 100% 100%, 200% 100%;
    color: #cc0 !important;
    text-shadow: 0 0 3px #000, 0 0 5px #ff0 !important;
    border: 1px solid #663 !important;
    animation: 15s accel ease-in-out infinite !important;
    box-shadow: inset 0 0 5px #cc03;
}
.accelerate:hover {
    box-shadow: inset 0 0 5px #cc03, 0 0 8px #cc07;
}
.accelerate::before {
    content: "α";
    top: -80px; left: 0; right: 0;
    font-size: 6em;
    font-weight: 100;
    opacity: .1;
    position: absolute;
    transform: rotate(-20deg);
}
@keyframes accel {
	0% {
		background-position: 0% 0%, 0% 0%;
	}
	100% {
		background-position: 0% 0%, 2000% 0%;
	}
}

.paradox {
    background: linear-gradient(#424, #000) !important;
    color: #f8f !important;
    border: 1px solid #557 !important;
    box-shadow: inset 0 0 10px #f075;
    text-shadow: 0 0 3px #000, 0 0 5px #f07;
}
.paradox:hover {
    box-shadow: inset 0 0 10px #f075, 0 0 8px #88f7;
}
.paradox::before {
    content: "ξ";
    top: -70px; left: 0; right: 0;
    font-size: 6em;
    font-weight: 100;
    opacity: .1;
    position: absolute;
    transform: rotate(-20deg);
}

.galaxy {
    background: 
        linear-gradient(#114, #000) !important;
    color: #99f !important;
    border: 1px solid #557 !important;
    box-shadow: inset 0 0 5px #99f3;
}
.galaxy:hover {
    box-shadow: inset 0 0 5px #99f3, 0 0 8px #99f7;
}
.galaxy::before {
    content: "γ";
    top: -80px; left: 0; right: 0;
    font-size: 6em;
    font-weight: 100;
    opacity: .1;
    position: absolute;
    transform: rotate(-20deg);
}

.infinity {
    background: linear-gradient(#420, #000) !important;
    color: #fa7 !important;
    border: 1px solid #765 !important;
    box-shadow: inset 0 0 5px #fa73;
}
.infinity:hover {
    box-shadow: inset 0 0 5px #fa73, 0 0 8px #fa77;
}
.infinity::before {
    content: "∞";
    top: -60px; left: 0; right: 0;
    font-size: 6em;
    font-weight: 100;
    opacity: .1;
    position: absolute;
    transform: rotate(-20deg);
}

.eternity {
    background: linear-gradient(#204, #000) !important;
    color: #caf !important;
    border: 1px solid #657 !important;
    box-shadow: inset 0 0 5px #caf3;
}
.eternity:hover {
    box-shadow: inset 0 0 5px #caf3, 0 0 8px #caf7;
}
.eternity::before {
    content: "Δ";
    top: -60px; left: 0; right: 0;
    font-size: 6em;
    font-weight: 100;
    opacity: .1;
    position: absolute;
    transform: rotate(-20deg);
}

.interreality {
    background: linear-gradient(#000b, #000f), linear-gradient(90deg, #0f0, #39f) !important;
    animation: irAnim 15s linear infinite alternate !important;
    text-shadow: none !important;
    box-shadow: inset 0 0 5px #7fc3;
}
.interreality:hover {
    box-shadow: inset 0 0 5px #7fc3, 0 0 8px #7fc7;
}
.interreality::before {
    content: "δ";
    top: -60px; left: 0; right: 0;
    font-size: 6em;
    font-weight: 100;
    opacity: .1;
    position: absolute;
    transform: rotate(-20deg);
}
@keyframes irAnim {
    from {
        color: #7f7;
        border: 1px solid #474;
    }
    to {
        color: #7af;
        border: 1px solid #357;
    }
}

.singularity {
    background: linear-gradient(#444, #000) !important;
    color: #ccc !important;
    border: 1px solid #555;
    box-shadow: inset 0 0 15px #000a, inset 0 0 5px #ccc7;
}
.singularity:hover {
    box-shadow: inset 0 0 15px #000a, inset 0 0 5px #ccc7, 0 0 8px #ccc7;
}
.singularity {
    position: relative;
    overflow: hidden;
}
.singularity::before {
    content: "σ";
    top: -65px; left: 0; right: 0;
    font-size: 6em;
    font-weight: 100;
    opacity: .1;
    position: absolute;
    transform: rotate(-20deg);
}

.quantum {
    background: linear-gradient(#040, #000) !important;
    color: #bf7 !important;
    border: 1px solid #674 !important;
    box-shadow: inset 0 0 5px #bf73;
}
.quantum:hover {
    box-shadow: inset 0 0 5px #bf73, 0 0 8px #bf77;
}
.quantum::before {
    content: "ᴨ";
    top: -70px; left: 0; right: 0;
    font-size: 6em;
    font-weight: 100;
    opacity: .1;
    position: absolute;
    transform: rotate(-20deg);
}

.planck {
    background: 
        linear-gradient(#043c, #000),
        repeating-conic-gradient(#0fc 0% 25%, #000 0% 50%) 50% !important;
    background-size: 100% 100%, 2.71828px 2.71828px !important;
    color: #0fc !important;
    text-shadow: 0px 0px 3px #000, 0 0 8px #0fc !important;
    border: 1px solid #376 !important;
    box-shadow: inset 0 0 10px #0fc3;
}
.planck:hover {
    box-shadow: inset 0 0 10px #0fc3, 0 0 8px #0fc7;
    background-size: 100% 100%, 2.71828px 2.71828px !important;
}
.planck::before {
    content: "κ";
    top: -80px; left: 0; right: 0;
    font-size: 6em;
    font-weight: 100;
    opacity: .1;
    position: absolute;
    transform: rotate(-20deg);
}

.ghost {
    background: linear-gradient(#516, #100) !important;
    color: #a4f !important;
    text-shadow: 0 0 5px #a4f;
    border: 1px solid #72f !important;
    animation: ghostifytext 15s linear infinite !important;
    box-shadow: inset 0 0 5px #7007;
}
.ghost:hover {
    box-shadow: inset 0 0 5px #7007, 0 0 8px #7f77;
}
.ghost::before {
    content: "φ";
    top: -70px; left: 0; right: 0;
    font-size: 6em;
    font-weight: 100;
    opacity: .1;
    position: absolute;
    transform: rotate(-20deg);
}
@keyframes ghostifytext { 
	from {
		color: #a4f;
		text-shadow: 0px 0px 3px #000, 0px 0px 3px #fff7, 0px 0px 8px #a4f7;
	}
	50% {
		color: #f47;
		text-shadow: 0px 0px 3px #000, 0px 0px 6px #fff7, 0px 0px 8px #f477;
	}
	to {
		color: #a4f;
		text-shadow: 0px 0px 3px #000, 0px 0px 3px #fff7, 0px 0px 8px #a4f7;
	}
}