.placeholder1a {
	background: linear-gradient(transparent, #FEF9BB, #FEF9BB, transparent, transparent), linear-gradient(transparent, transparent, transparent, transparent, #CAF575), linear-gradient(#FDF379, #FDF379);
	border: 2px solid #9F9404;
	color: rgba(0, 0, 0, 0.5);
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.placeholder1a:hover {
	border-color: #dfdfdf;
	box-shadow: inset 0px 0px 24px 0px #ffffff;
	color: #FDF379;
	text-shadow: 0 0 3px #9F9404;
}

.placeholder1b {
	background: linear-gradient(transparent, #A2F4FC, #A2F4FC, transparent, transparent), linear-gradient(transparent, transparent, transparent, transparent, #6D99F0), linear-gradient(#9AD7FC, #9AD7FC);
	border: 2px solid #4B81F0;
	color: rgba(0, 0, 0, 0.5);
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.placeholder1b:hover {
	border-color: #dfdfdf;
	box-shadow: inset 0px 0px 24px 0px #ffffff;
	color: #9AD7FC;
	text-shadow: 0 0 3px #4B81F0;
}

.placeholder2 {
	background: linear-gradient(90deg, #ffdf00, #ffffff, #00dfff);
	border: 2px solid rgba(0, 0, 0, 0.25);
	background-size: 150% 150%;
	background-position: 25% 0%;
	color: rgba(0, 0, 0, 0.5);
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.placeholder2:hover {
	border-color: #00dfff;
	box-shadow: inset 0px 0px 12px 0px #00dfff;
	color: #7fefff;
	text-shadow: 0 0 3px #006f7f;
}

.placeholder3 {
	background: linear-gradient(90deg, #0000ff, #000000, #ff0000);
	border: 2px solid rgba(0, 0, 0, 0.25);
	background-size: 150% 150%;
	background-position: 25% 0%;
	color: rgba(255, 255, 255, 0.75);
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.placeholder3:hover {
	border-color: #bfff00;
	box-shadow: inset 0px 0px 12px 0px #bfff00;
	color: #dfff7f;
	text-shadow: 0 0 3px #5f7f00;
}

.placeholder4 {
	background: linear-gradient(transparent, #7fefff, transparent), linear-gradient(90deg, #00dfff, #00bfff, #00dfff);
	border: 2px solid rgba(127, 255, 255, 0.25);
	background-size: 150% 150%;
	background-position: 25% 0%;
	color: #bff7ff;
	text-shadow: 0 0 3px #006f7f;
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.placeholder4:hover {
	border-color: #bfffff;
	box-shadow: inset 0px 0px 12px 0px #bfffff;
	color: white;
}